.container-form {
  margin: 0 auto;
  max-width: 800px;
  background-color: rgb(254, 253, 253);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.278);
  padding: 20px;
  border-radius: 10px;
  fieldset {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .no-serie {
      text-align: center;
    }
  }
}
