<div class="container-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="d-flex flex-column mb-20">
      <label class="flex-fill">nom</label>
      <input formControlName="name" type="text" />
      <div>
        <app-error-message
          *ngIf="nameError?.errors?.['required'] == true"
          message="veuillez compléter le champs"
        ></app-error-message>
      </div>
    </div>
    <div class="d-flex flex-column mb-20">
      <label>Date d'anniversaire</label>
      <input formControlName="birth_day" type="date" />
    </div>

    <fieldset formArrayName="series" class="mb-20">
      <legend>
        <button type="button" class="btn btn-primary" (click)="addSerie()">
          Ajouter une série
        </button>
      </legend>
      <p *ngIf="!getSeries().length" class="no-serie">
        aucune série pour le moment dans la liste
      </p>
      <div
        class="mt-20 mb-20"
        *ngFor="let item of getSeries().controls; let i = index"
        [formGroupName]="i"
      >
        <h4>Série n° {{ i + 1 }}</h4>
        <div class="d-flex p-10">
          <input class="flex-fill" formControlName="name_serie" type="text" />
          <button type="button" class="btn btn-danger" (click)="deleteSerie(i)">
            Supprimer
          </button>
        </div>
      </div>
    </fieldset>

    <button class="btn btn-primary">AJouter à la liste des fans</button>
  </form>
</div>
